--extra-index-url https://download.pytorch.org/whl/cpu

streamlit
pandas
langchain
langchain-community
langchain-google-genai  
faiss-cpu
langchain-openai
streamlit-mic-recorder
playwright
xlsxwriter
requests
pillow
torch==2.6.0+cpu
transformers

openpyxl
httpcore>=1.0.0,<2.0.0
httpx>=0.27.0,<0.29.0