--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
pandas
langchain
langchain-community
langchain-google-genai
faiss-cpu
langchain-openai
streamlit-mic-recorder
playwright
xlsxwriter
requests
pillow
torch
transformers